.mainClass {
  display: flex;
  padding: 25px 40px;
  flex-direction: column;
}
.imgBox {
  display: flex;
  width: 100%;
}
.manualImg {
  display: flex;
  width: 100%;
  height: auto;
}
.registrationTable {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 20px;
}
