
.notification {
color:#4B4646;
}


.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgb(61, 131, 117);
  color: white;
}
.changePassword .dropdown-item:active{
  background-color: rgb(61, 71, 117) !important;
}
.nameHeading, .inboxTitle{
  color:#4B4646;
  font-weight: 600;
  display: block;
  margin: auto;
}
.nameHeading:hover{
  color:#0071CE!important;

}
.inboxTitle:hover{
  color:#0071CE;
}
.sidebarIcons{
  display: flex;
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}