
.notification {
color:#4B4646;
}


.notification .badge {
  position: absolute;
  display: flex;
 bottom: 25px;
 left: 25px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
 background-color: #464b4b;
  color: white;
  padding: 10px;
}
.changePassword .dropdown-item:active{
  background-color: rgb(61, 71, 117) !important;
  color: #fff !important;
}
.nameHeading, .inboxTitle{
  color:#4B4646;
  font-weight: 600;
  display: block;
  margin: auto;
}


.sidebarIcons{
  display: flex;
  max-width: 40px;
  max-height: 40px;
  padding: 8px;
}
.main-menu.menu-light .navigation > li.hover > a{
  color: #0071CE;
}
