.adminForm{
    display: flex;
    margin: 20px;
    flex-direction: column;
}
.basicFeild{
    display: flex;
    flex-direction: row;
}
.basicFeild span{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    min-width: 100px;
    justify-content: space-evenly;
margin: 8px 8px;
}
.basicFeild span label{
    margin-bottom: 0px;
}
.inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
}