.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
 
  border-bottom: 2px solid #787878;
  background-color: #ffffff;
 
  z-index: 999;
  margin: 38px 0px 0px 0px;
  position: sticky;
  padding: 0px 22px;
  top:0px;
}
.headerMin{
  display: flex;
  justify-content: space-between;
  width: 100%;
 
  border-bottom: 2px solid #787878;
  background-color: #ffffff;
  height: 80px;
  z-index: 999;
  position: sticky;
  top:0px;
 
}

.heading {
  padding-bottom: 2%;
}

.form {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  background: white;
  padding: 25px;
  box-shadow: 6px 6px 10px 2px #00000075;
  border-radius: 15px;
}


.modal {
  position: absolute;
  left: 50px;
}
.logo {
  transition: 0.6s all;
  display: flex;
  
    max-width: 16rem;
    
    margin : 22px;
    width: 100%;
height: 36px;

}
.logomin {
  display: flex;
   
    max-width: 12rem;
    justify-content: center;
    align-items: center;
  transition: 0.6s all;
    width: 100%;
    margin : 22px 32px;
    height: 36px;

}

.menu {
  list-style: none;
  display: flex;
}

/* .menu li {
  padding-right: 15px;
  padding: 4px 15px;
  border-radius: 25px;
  margin-right: 15px;
  background: rgb(61,71, 117);
  border: 2px solid #ffffff;
  font-size: 14px;
} */

.menu li:hover {
  box-shadow: 4px 6px 10px 1px #000000;
  transition: 0.5s ease;
  cursor: pointer;
}

.menu li a {
  color: #ffffff !important;
}

a:hover {
  text-decoration: none;
}

footer {
  background-color: #f4f4f4;
  padding: 15px;
  width: 100%;
 
  box-shadow: 0px -3px 10px #00000029;
  border-top: 2px solid #787878;
}

.content_register {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.otp {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background: white;
  padding: 25px;
  padding: 3em 2em 3em;
  box-shadow: 6px 6px 10px 2px #00000075;
  border-radius: 15px;
}

.error {
  color: red;
  font-weight: bold;
}

.question_query {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question_query_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 0 !important;
}

.manage_file {
  -webkit-user-modify: read-write;
}

.password-icon {
  position: absolute;
  right: 35px;
  top: 38px;
  cursor: pointer;
}

.inprogress {
  color: rgb(61, 71, 117) !important;
}

.completed {
  color: rgb(61, 131, 117) !important;
}

.declined {
  color: red !important;
}

.footerCopyright {
  color: #fff !important;
}
.send {
  background-color: rgba(120, 120, 120, 0.3);
}

.received {
  background-color: #fff;
}
.swal2-styled.swal2-confirm {
  background-color: rgb(61, 71, 117) !important;
}
h1,
h2,
h3 h4,
h5,
h6,
p {
  color: #464646;
}
.form-control:focus {
  border-color: rgb(61, 71, 117) !important;
}
.btn-primary {
  background-color: rgb(61, 71, 117) !important;
  border-color: rgb(61, 71, 117) !important;
  color: #fff !important;
}
html body a {
  color: rgb(61, 71, 117);
}
.main-menu.menu-light .navigation > li > a {
  color: #464646;
}
.messageIcon {
  color: #0071ce;
  font-size: 1rem;
  cursor: pointer;
}
.discussionMessage {
  color: #B63C00;
  font-size: 1rem;
  cursor: pointer;
}
.discussProposal {
  color: #393470;
  font-size: 1rem;
  cursor: pointer;
}
.helpIcon {
  font-size: 2rem;
  cursor: pointer;
  float: right;
  color: #464646;
}

.viewDiscusion {
  color: #615339;
  font-size: 1rem;
  cursor: pointer;
}
.feedbackIcon {
  color: rgb(61, 71, 117) !important;
  font-size: 1rem;
  cursor: pointer;
}
.deleteIcon {
  color: orangered;
  font-size: 1rem;
  cursor: pointer;
}
.editQuery {
  color: #081f8f;
  font-size: 1rem;
  cursor: pointer;
}
.uploadIcon {
  font-size: 1rem;
  cursor: pointer;
  color: #BC363D;
}
.payment {
  color: rgb(61, 71, 117) !important;
  cursor: pointer;
}
.paymentDeclined {
  color: red !important;
  cursor: pointer;
}
.customBtnSign:hover {
  color: #fff;
}
.finalReport {
  color: red !important;
}
.draftReport {
  color: rgb(61, 131, 117) !important;
}
.customBtnSign {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 100px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.downloadBtnPdf {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 200px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
  outline: 0px;
}
.customBtnlg {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin: 50px auto;
  justify-content: center;
  line-height: 1;
  width: 150px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.logoutBtn {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 150px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}

.customBtn,
.customBtnDisabled {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 100px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}

.navButton{
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  color: #0071ce;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  width: 60px;
  border-radius: 32px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.2rem 0.2rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.navButton:hover{
  background-color: #dbdbdb;
}
.navButton:focus{
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
}
.btnWhite{
  border-bottom-left-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
 margin : 10px 0px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.profileBtn {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 100px;
  height: 34px;
  overflow: hidden;
  float: right;

  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.noSignINBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.searchBtn {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 100px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.customBtn > a {
  color: #fff;
}

.customBtn:hover,
.searchBtn:hover,
.autoWidthBtn:hover,
.queryPlusIcon:hover,
.btnSearch:hover,
.helpIcon:hover .customBtn:focus,
.searchBtn:focus,
.autoWidthBtn:focus,
.queryPlusIcon:focus,
.btnSearch:focus,

.helpIcon:focus {
  background-color: #081f8f !important;
  border: 1px solid #081f8f !important;
  color: #fff !important;
  outline: 1px solid #081f8f;
}
.btnWhite:hover{
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #464646 !important;
  outline: 1px solid #fff;
}
.signInBtn {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: auto;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.btnSearch {
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: auto;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.autoWidthBtn {
  border-bottom-left-radius: 1rem;
  background-color: #0071ce;
  border: 1px solid #0071ce;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;

  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}
.dangerBtn,
.dangerBtnDisabled {
  border-bottom-left-radius: 1rem;
  background-color: orangered;
  border: 1px solid orangered;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  width: 100px;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  transform: all 0.3s;
  vertical-align: middle;
}

.dangerBtn:hover {
  background-color: rgb(177, 52, 6) !important;
  border: 1px solid rgb(177, 52, 6) !important;
  color: #fff !important;
}
.changePassword .dropdown-item:hover {
  color: #0071ce;
}
.customBtnDisabled:disabled,
.customBtnDisabled.disabled {
  color: #fff;
  border-color: #a0a0a0;
  background-color: rgba(61, 71, 117, 0.5);
}
.customBtnDisabled:hover,
.dangerBtnDisabled:hover {
  cursor: not-allowed;
}
.dangerBtnDisabled:disabled,
.dangerBtnDisabled:disabled {
  color: #fff;
  border-color: #a0a0a0;
  background-color: rgba(212, 22, 9, 0.5);
}
.queryPlusIcon {
  background-color: #0071ce !important;
  color: #fff !important;
  font-weight: 700 !important;
}
.acceptIcon {
  color: rgb(61, 131, 117);
  cursor: pointer;
  font-size: 16px;
}
.rejectIcon {
  color: red;
  cursor: pointer;
  font-size: 16px;
}
.inboxTitle:hover {
  color: #0071ce;
}
.historyIcon {
  font-size: 16px;
  cursor: pointer;
  color: "green";
}
.notification:hover .badge {
  background-color: #0071ce !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #464646;
}
.contentTitle {
  color: #464646;
  display: flex;
  margin: 0 0 5px 0;
  justify-content: center;
}
.fixedTab {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
}
.myStyle2 {
  margin: 10px auto;
  color: #55425f;
  font-weight: 1000;
}
.myStyle1 {
  margin: 10px auto;
  font-size: 14px;
}
.menu-expanded .main-menu.menu-light .navigation > li > a > i {
  margin-right: 8px !important;
}
.caret {
  background: url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 99;
}
th.sortable {
  position: relative;
  cursor: pointer;
}

th.sortable::after {
  font-family: FontAwesome;
  content: "\f0dc";
  position: absolute;
  right: 8px;
  color: #fff;
}

th.sortable.asc::after {
  content: "\f0d8";
}

th.sortable.desc::after {
  content: "\f0d7";
}

th.sortable:hover::after {
  color: #fff;
}
.clientSubMenu {
  display: flex;
  width: 850px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.headingContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.myLink22 {
  background-color: #fff !important;
  z-index: 0;
  border: 1px solid #fff;
}
.myFaq table {
  border: 1px solid #ccc;
}
.subLink2 {
  display: flex;
  width: 100%;
}
#flexCheckDefault {
  width: 1.2rem;
  height: 1.2rem;
}
.mainCheckBox {
  outline: 1px solid red;
  border: 0px;
}
.customInvalid {
  border: 1px solid red;
}
.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}
.ck.ck-content ol,
.ck.ck-content ol li::marker {
  list-style-type: decimal;
  padding: 0px 40px;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}
input[type="date"] {
  display: block;

  /* Solution 1 */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;

  /* Solution 2 */
  /* min-width: 96%; */
}
.proposalModal {
  display: flex !important;
  height: 100% !important;
}
.modalManualTable {
  display: flex;
  width: 30vw;
  color: #464646;
  font-size: 18px;
  cursor: pointer;
}
.modalManualTablePage {
  display: flex;
  width: 20vw;
  color: #464646;
  font-size: 18px;
  justify-content: flex-end;
  cursor: pointer;
}
.modalTextHeading {
  font-size: 18px;
  color: #464646;
  font-weight: 700;
}
.modalText {
  font-size: 12px;
  color: #464646;
  font-weight: 400;
}
.modalText {
  font-size: 18px;
  color: #464646;
}
.myTwitter,
.instagramVideo,
.myFacebook,
.myLinkedIn {
  display: flex;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.3s all;
  margin: 0 7px;
  outline: #000;
  color: #464646;
}
.myFacebook:hover {
  color: #3b5998;
}
.instagramVideo:hover {
  background: #fff;

  color: #fd5949;
}
.myLinkedIn:hover {
  color: #0077b5;
}
.myTwitter:hover {
  /* background-color: rgba(29, 161, 242, 0.2); */
  color: #55acee;
}
.imgGap {
  display: flex;
  margin: 18px 0px;
}
@media (max-width: 767px) {
  footer {
    position: relative !important;
  }
  .contentTitle {
    color: #464646;
    display: flex;
    font-size: 0.8rem;
    margin: 0 0 5px 0;
  }
}
@media (max-width: 768px) {
  .contentTitle {
    color: #464646;
    display: flex;
    font-size: 0.8rem;
    margin: 0 0 5px 0;
  }
}
