.main_table{
	padding: 0;
}

.content_header{
	padding: 3px;
}

.content_header table{
  	color: white;
	  
}


.main_table tr{
	display: flex;
	justify-content: space-around;
}

.main_table thead th, .main_table td, .main_table th{
	border-bottom: 0px;
	border-top: 0px;
	padding: 7px !important;
}

.left_side{
	width: 180px;
	padding-left: 0px
}


.query_thead{
	background-color:#3d4975; 
}
.query_thead1{
	background-color: #a7b0d1;
	color:#000;
}

/* .second.table-striped tbody tr,
.third.table-striped tbody tr,
.forth.table-striped tbody tr{
	background-color:rgba(88, 103, 155, 0.8);
} */



.proposal_thead{
	background-color: rgb(112, 75, 98, 1);
}
.proposal_thead3{
	background-color: #be93b3;
	color: #000;
}

/* .sixth.table-striped tbody tr{
	background-color:rgba(172, 132, 159, 1);
}
 */


.assignment_thead{
	background-color:rgba(67 , 131, 117, 1);
}

.assignment_thead2{
	background-color: #8ac4b8;
	color:#000;
}

/* .tenth.table-striped tbody tr{
	background-color:rgba(67, 131, 117, 0.8);
} */




.payment_thead{
	background-color:rgba(69, 126, 143, 1);
}
.payment_thead2{
	background-color: #8bb9c7;
	color:#000;
}