.tabDivStyle{
    display: flex;
    width: 100%;
}
.tabStyle{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.assignmentStyle{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-word;
}