
  .declinedPayment{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table tbody tr td{
    color: #464B4B;
    
  }
  .tabHover, .tabHoverLink{
    transition: all .9s;
  }
  .tabHover:hover{
   text-decoration: underline;
    color:#0071CE;
   
    cursor: pointer;
  }
  .tabHoverLink:hover{
    text-decoration: underline;
    color:#0071CE;
   
    cursor: pointer;
  }