@import "~react-image-gallery/styles/css/image-gallery.css";

.tableCellStyle {
  font-size: 16px;
  line-height: 1.2rem;
}
/* .image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 210px) !important;
} */
#playVideo {
  position: absolute;
  top: 25%;
  left: 40%;

  z-index: 10;
}
.galleryBox {
  display: flex;
  max-height: 240px;
  height: 100%;
  width: calc(100% / 4 - 30px);
  margin: 5px;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
}
#artContent2 {
  display: flex;
  max-width: 700px;
  width: 100%;
  word-break: break-word;
}
#artContent {
  display: flex;
  /* max-width: 800px; */
  /* padding: 0 0 0 30px; */
  width: 100%;
  word-break: break-word;
}
#artContent p {
  margin: 0px;
}
#artContent table,
#artContent tr,
#artContent td {
  border: 1px solid #000;
}
#artContent td {
  padding: 10px 15px;
}
.rpv-core-inner-page {
  padding: 0px !important;
  box-shadow: 0px !important;
}
.rpv-core-page-layer {
  box-shadow: none;
}
.image-gallery-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.image-gallery {
  display: flex;
  justify-content: center;
}
/* .image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh !important;
} */
.image-gallery-slide
  .image-gallery-image:not(.fullscreen .image-gallery-image) {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.image-gallery-image .image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
  max-height: 59px;
  height: 100%;
}
/* .fullscreen .image-gallery-image {
  object-fit: cover !important;
} */
/* .image-gallery-content.bottom.fullscreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
} */
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  max-height: 70px;
  height: 100%;
  line-height: 0;
}
.updatesContent {
  display: flex;
  font-family: Arial !important;
  font-size: 12px;
  color: #464b4b;
}
.updatesHeding {
  font-family: Arial !important;
  font-size: 14px;
  font-weight: 1000;
  color: #464b4b !important;
  letter-spacing: 0.0333em;
}
/* 
.image-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.image-gallery-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.image-gallery-thumbnails-wrapper {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
} */
